@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 25% 96%;
    --foreground: 214 28% 10%;
    --card: 0 0% 100%;
    --card-foreground: 214 28% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 28% 10%;
    --primary: 214 28% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 25% 90%;
    --secondary-foreground: 214 28% 10%;
    --muted: 216 25% 92%;
    --muted-foreground: 214 28% 30%;
    --accent: 3 99% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 25% 88%;
    --input: 216 25% 88%;
    --ring: 214 28% 47%;
    --chart-1: 214 28% 47%;
    --chart-2: 3 99% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 214 28% 10%;
    --foreground: 216 25% 96%;
    --card: 214 28% 10%;
    --card-foreground: 216 25% 96%;
    --popover: 214 28% 10%;
    --popover-foreground: 216 25% 96%;
    --primary: 214 28% 57%;
    --primary-foreground: 214 28% 5%;
    --secondary: 214 28% 15%;
    --secondary-foreground: 216 25% 96%;
    --muted: 214 28% 15%;
    --muted-foreground: 216 25% 70%;
    --accent: 3 99% 70%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 28% 20%;
    --input: 214 28% 20%;
    --ring: 214 28% 57%;
    --chart-1: 214 28% 57%;
    --chart-2: 3 99% 70%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
